# Python virtual environments
venv/
env/
ENV/
.venv/
curvature_sensor_moveit/src_normal/curvature_sensor/.venv
# Python bytecode files
__pycache__/
*.py[cod]
*$py.class
# Explicitly ignore these specific __pycache__ directories
curvature_sensor_moveit/src_normal/curvature_sensor/scripts/__pycache__/
curvature_sensor_moveit/src_normal/computervision_module/__pycache__/

# Distribution / packaging
dist/
build/
*.egg-info/

# Local development settings
.env
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints