# Core data processing and visualization libraries
pandas
numpy
matplotlib
scikit-learn>=1.0.0
joblib

# Machine learning libraries
xgboost
lazypredict

# Plotting and graphics
seaborn

# Progress bar
tqdm

# Optional: Jupyter notebooks support
jupyter
ipykernel

# For GPR models
scipy